@model DAL.Factura

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inventario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inventario.NombreProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pago.Detalle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FacturaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
