@model IEnumerable<DAL.Inventario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inventario</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>

<form id="GenerarInformeForm" asp-action="GenerarInformePDF" method="get" class="form-inline">
    <div class="form-group mb-2">
        <label for="fechaInicio" class="mr-2">Fecha Inicio</label>
        <input type="date" id="fechaInicio" name="fechaInicio" class="form-control" required />
    </div>
    <div class="form-group mb-2">
        <label for="fechaFin" class="mr-2">Fecha Fin</label>
        <input type="date" id="fechaFin" name="fechaFin" class="form-control" required />
    </div>
    <div class="form-group mb-2">
        <label for="categoria" class="mr-2">Categoría</label>
        <select id="categoria" name="categoria" class="form-control">
            <option value="">Todas</option>
            @foreach (var categoria in Model.Select(i => i.Categoria).Distinct())
            {
                <option value="@categoria">@categoria</option>
            }
        </select>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DescripcionProducto)
            </th>
            
            
            <th>
                @Html.DisplayNameFor(model => model.First().Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PrecioXVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PrecioXCosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FechaAgregado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FechaExpiracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Sucursal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioXVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioXCosto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAgregado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaExpiracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sucursal.Direccion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductoId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductoId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-right mb-3">
    <button type="submit" form="GenerarInformeForm" class="btn btn-primary">Generar Informe PDF</button>
</div>