@model DAL.Catalogos

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Catalogos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCatalogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCatalogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetalleCatalogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetalleCatalogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inventario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inventario.NombreProducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CatalogoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
