@model IEnumerable<DAL.Catalogos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<h1>Lista de Catálogos</h1>

<p>
    <a asp-action="Create">Agregar un nuevo Catálogo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCatalogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetalleCatalogo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCatalogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetalleCatalogo)
            </td>
            <td>
                    <a asp-controller="Inventarios" asp-action="Edit" asp-route-id="@item.ProductoId">
                        <i class="fa fa-pen"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.CatalogoId"><i class="fa fa-trash"></i></a>

            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index" class="nav-item nav-link">Regresar</a>
